
        <div id="container">
            <header id="header">
            <h1><a href="index.html">&hearts; HappyBoba &hearts;</a></h1>
            </header>

            <div id="menu">
            <nav id="nav-main">
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="items.html">Items</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="coupons">Coupons</a></li>
            <li><a href="orders.html">Orders</a></li>
            </ul>
            </nav><!-- /#nav-main -->

            <img alt="happy boba time" src="images/background1.jpg" width="300" height="300"/>
            </div><!-- #menu -->
         
        <div id="content">
            <h2>Coupons</h2>
            <h3>Add a new coupon:</h3>
            <form id="addcoupon" action="/coupons" method="post">
                Amount: <input type="number" name="amount"><br>
                Valid: <input type="radio" name="valid" value=:"available">
                       <label for="valid">available</label>
                       <input type="radio" name="valid" value=:"expired">
                       <label for="valid">expired</label>
                       <br><br>
            <input type="submit" id="createButton" value="Add Coupon">
            </form>

            <br>
            <h2>Current Coupons</h2>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Valid</th>
                </tr>
                {{#each records}}
                <tr> 
                    <td>{{this.couponID}}</td>
                    <td><input type="number" name="amount{{this.couponID}}" value="{{this.amount}}" ></td>
                    <td><input type="text" name="valid{{this.couponID}}" value="{{this.valid}}"></td> 
                    <td>
                    <input type="button" id="update_{{this.couponID}}" value="Update">
                    <input type="button" id="delete_{{this.couponID}}" value="Delete">
                    </td>
                </tr>
                {{/each}}
                
            </table>
        </div><!-- #content -->


        <footer id="footer">
            <p class="copyright">&copy;2020 HappyBoba  &bull; Site designed by Team52 &bull; All Rights Reserved</p>
        </footer>
        </div><!-- #container -->
