
    
    <div id="container">
            <header id="header">
            <h1><a href="index.html">&hearts; HappyBoba &hearts;</a></h1>
            </header>

            <div id="menu">
            <nav id="nav-main">
            <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="items.html">Items</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li><a href="orders.html">Orders</a></li>
            </ul>
            </nav><!-- /#nav-main -->

            <img alt="happy boba time" src="images/background1.jpg" width="300" height="300"/>
        </div><!-- #menu -->
         
        <div id="content">
        <h2>Items</h2>
        <form id="itemsForm">
        <fieldset>
            <legend>Create New Item</legend>
            <label for="name">Item Name:</label>
            <input type="text" name="name" id="name" placeholder="Name" size="30"><br><br>
            <label for="price">Price of the item:</label>
            $ <input type="text" name="price" id="price" placeholder="Price" size="20"><br><br>
            <!-- <label for="sweet">Sweet Level of the item:</label>
            <select name="sweet" id="sweet">
                <option value="0">0%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="80">80%</option>
                <option value="100">100%</option>
            </select><br><br>
            <label for="iced">Iced Level of the item:</label>
            <select name="iced" id="iced">
                <option value="0">0%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="80">80%</option>
                <option value="100">100%</option>
            </select><br><br> -->
            <label for="categoryId">Category of the item:</label>
            <select name="categoryId" id="categoryId">
                <option value="1">Milk Tea</option>
                <option value="2">Fruit Tea</option>
                <option value="3">Coffee</option>
            </select><br><br>
            <input type="submit" id="createButton" value="Add Item">
        </fieldset>
        </form>
    


        <h2>Current Items</h2>
            <table>
                <tr>
                <th>Name</th>
                <th>Price</th> 
                <th>Category</th>
                <th>Action</th>
                </tr>

                {{#each records}}
                <tr> 
                    <td><input type="text" name="item{{this.itemID}}" value="{{this.itemName}}"></td>
                    <td><input type="text" name="price{{this.itemID}}" value="${{this.price}}" size = 5></td> 
                    <td>
                        <select name="categoryOptions" id="categoryOptions">
                            {{#each categories}}
                            <option value="{{this.categoryID}}">{{this.categoryName}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                    <input type="button" id="update_{{this.itemID}}" value="Update">
                    <input type="button" id="delete_{{this.itemID}}" value="Delete">
                    </td>
                </tr>
                {{/each}}
            </table>
            
        </div><!-- #content-->


<footer id="footer">
    <p class="copyright">&copy;2020 HappyBoba  &bull; Site designed by Team52 &bull; All Rights Reserved</p>
</footer>
</div><!-- #container -->


