
    
    <div id="container">
            <header id="header">
            <h1><a href="index.html">&hearts; HappyBoba &hearts;</a></h1>
            </header>

            <div id="menu">
            <nav id="nav-main">
            <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/coupons">Coupons</a></li>
            <li><a href="/orders">Orders</a></li>
            </ul>
            </nav><!-- /#nav-main -->

            <img alt="happy boba time" src="images/background1.jpg" width="300" height="300"/>
        </div><!-- #menu -->
         
        <div id="content">
        <h2>Items</h2>
        <form id="addItem" action="/items" method="post">
        <fieldset>
            <legend>Create New Item</legend>
            <label for="name">Item Name:</label>
            <input type="text" name="name" id="name" placeholder="Name" size="30"><br><br>
            <label for="price">Price of the item:</label>
            $ <input type="text" name="price" id="price" placeholder="Price" size="20"><br><br>
        
            <label for="categoryId">Category of the item:</label>
            <select name="categoryId" id="categoryId">
            {{#each categories}}
                <option value="{{categoryID}}">{{categoryName}}</option>
            {{/each}}
            </select><br><br>
            <input type="submit" id="createButton" value="Add Item">
        </fieldset>
        </form>
        <br>
        
        <form id="filterItem" action="" method="">
        <h2><label>Filter by Categories</label></h2>
          <select name="categories" id="categoryFilter">
              {{#each categories}}
            <option value="{{categoryID}}">{{categoryName}}</option>
             {{/each}}
          </select><br>
        <input type="button" value="Filter" onclick="filterItemByCategory()">
        </form>

        <h2>Current Items</h2>
            <table>
                <tr>
                <th>Name</th>
                <th>Price</th> 
                <th>Category</th>
                <th>Action</th>
                </tr>

                {{#each records}}
                <tr> 
                    <td><input type="text" id="item{{this.itemID}}" value="{{this.itemName}}"></td>
                    <td>$<input type="text" id="price{{this.itemID}}" value="{{this.price}}" size = 5></td> 
                    <td>
                        <select name="categoryOptions" id="category{{this.itemID}}">
                            {{#each this.categories}}
                            <option value="{{this.categoryID}}" {{this.selected}}>{{this.categoryName}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                    <input type="button" id="update_{{this.itemID}}" onclick="updateItem({{this.itemID}})" value="Update">
                    <input type="button" id="delete_{{this.itemID}}" onclick="deleteItem({{this.itemID}})" value="Delete">
                    </td>
                </tr>
                {{/each}}
            </table>
            
        </div><!-- #content-->


<footer id="footer">
    <p class="copyright">&copy;2020 HappyBoba  &bull; Site designed by Team52 &bull; All Rights Reserved</p>
</footer>
</div><!-- #container -->


